.wrapper
  include ../components/header
  aside.dashboard-sidebar
    a(href="#").logo 
      span &#9812
    button.resize(type="button") &#9776
  main.dashboard-main
    .card.card-1 Welcome to the dashboard
    .card.card-2 Orders - 2
    .card.card-3 Shipped - 3
    .card.card-4 Pending - 4
    .card.card-5 Revenue - 5
    .card.card-6 Users - 6
    .card.card-7 Subscriptions - 7
    .card.card-8 Analytics - 8
    .card.card-9 Inbox - 9
    .card.card-10 Calendar - 10
    .card.card-11 User Activity - 11
    .card.card-12 Sales Dynamics - 12
    .card.card-13 Tasks - 13
  include ../components/footer