@import './normalize&reset.scss';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.7;
  color: #161616;
  background: #f3f3f3;
}

.dashboard {
  &-header,
  &-footer {
    background: #fff;   
  }
  &-header,
  &-main,
  &-footer {
    padding: 1.25rem;
    grid-area: footer;
  }
  &-header {
    grid-area: header;
  }
  &-sidebar {
    color: #fff;
    background: #1d1d29;
    grid-area: sidebar;
    position: relative;
  }
  &-main {
    grid-area: main;
    display: grid;
    gap: 1rem;

  }
}
.logo {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  line-height: 1.3;
  text-decoration: none;
  color: inherit;
  &:hover {
    opacity: 0.8;
  }
}

.wrapper {
  min-block-size: 100vh;
  min-block-size: 100dvh;
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    'sidebar header'
    'sidebar main'
    'footer footer';
  transition: grid-template-columns .3s ease;
  &.sb-expand {
    grid-template-columns: 12.5rem 1fr;
  }
}

.resize {
  position: absolute;
  inset: 4rem -0.75rem auto auto;
  width: 1.5rem;
  aspect-ratio: 1;
  background: #fff;
  border: transparent;
  border-radius: 50%;
  cursor: pointer;
  color: black;
}

.card {
  padding: 1rem;
  min-block-size: 7rem;
  background: #fff;
  border-radius: .5rem;
  &-1 {
    background: linear-gradient(
      62deg,
      #fbab7e 0%,
      #f7ce68 100%
    );
  }
}

@media (width >= 768px) {
  .dashboard-main {
    grid-template-columns: repeat(4, 1fr);
  }
  .card {
    grid-column: span 2;
    &-1 {
      grid-row: span 2;
      grid-column: span 4;
    }
  }
}

@media (width >= 992px) {
  .card {
    &-2,
    &-3 {
      grid-area: auto;
    }
    &-4 {
      grid-column: 1 / 2;
      grid-row: 4 / 4;
      //grid-area: 3 / 1 / 4 / 2;
    }
    &-5 {
      grid-column: 2 / 3;
      grid-row: 4 / 4;
    }
    &-6,
    &-7 {
      grid-column: auto / auto;
      grid-row: span 2 / auto;
    }
    &-10,
    &-11,
    &-12,
    &-13 {
      grid-column: auto;
    }
  }
}
